<div class="title-rolex-page">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 logo-page">            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>